<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
</head>
<body>
    <h1>Meet List</h1>
    <table>
        {% for list in meetlist %}
            <ul>
                <li><a href="/planpeak/main/content/{{list.pk}}/">{{list.re_title}}</a></li>
            </ul>
        {% endfor %}
        </table>
        <button><a href="/planpeak/post/content_save/">모임생성</a></button>
</body>
</html>