<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Posting</title>
</head>
<body>
    <h1>모임 생성</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form}} -->
        <p>대표 이미지 등록</p><input type="file" name="re_image"><br>
        <p>모임 카테고리</p><input type="text" name="re_category"><br>
        <p>모임 이름</p><input type="text" name="re_title"><br>
        <p>한줄 소개 </p><input type="text" name="re_meetbrief"><br>
        <p>모임 소개</p><textarea rows="10" cols="50" name="content"></textarea><br>
        <p>제공 사항</p><input type="text" name="re_supplies"><br>
        <p>준비물</p><textarea rows="2" cols="50" name="preparation_materials"></textarea><br>
        <p>진행사항</p><textarea rows="2" cols="50" name="process1"></textarea><br>
        <p>진행사항 시간</p><textarea rows="2" cols="50" name="process2"></textarea><br>
        <p>진행사항 내용</p><textarea rows="2" cols="50" name="process3"></textarea><br>
        <p>외부링크1</p><textarea rows="2" cols="50" name="out_links1"></textarea><br>
        <p>외부링크2</p><textarea rows="2" cols="50" name="out_links2"></textarea><br>
        <p>외부링크3</p><textarea rows="2" cols="50" name="out_links3"></textarea><br>
        <p>활동영역 (원데이, 정기모임)</p><input type="text" name="regular_activity"><br>
        <p>날짜</p><input type="text" name="schedule"><br>
        <p>활동(온/오프)</p><input type="text" name="address1"><br>
        <p>주소</p><input type="text" name="address2"><br>
        <p>연령대</p><input type="text" name="mbr_age"><br>
        <p>인원</p><input type="text" name="mbr_num"><br>
        <p>희망 모집원</p><input type="text" name="mbr_content"><br>
        <p>선발(선착순, 지원동기)</p><input type="text" name="pick_method"><br>
        <p>설문1</p><input type="text" name="survey1"><br>
        <p>설문2</p><input type="text" name="survey2"><br>
        <p>챌린지 유무</p><input type="text" name="re_challenge"><br>
        <p>참여비 유무</p><input type="text" name="re_payment1"><br>
        <p>참여비</p><input type="text" name="re_payment2"><br>
        <p>은행</p><input type="text" name="re_payment3"><br>
        <p>계좌번호</p><input type="text" name="re_payment4"><br>


        <input type="submit" value="생성">
    </form>
</body>
</html>