<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posting!</title>
</head>
<body>
    <h1>게시글 개별 페이지입니다</h1>
        
    <!-- <p>{{post.met_request_id}}</p> -->
    {% if meet.re_image %}
        <img src = "{{ meet.re_image.url }}" alt="" height="300">
        <br>
    {% endif %}
    <p>카테고리 : {{meet.re_category}}</p>
    <p>모임 이름 : {{meet.re_title}}</p>
    <p>한줄소개 : {{meet.re_meetbrief}}</p>
    
    <p>모임소개 : {{meet.content}}</p>
    <p>제공 : {{meet.re_supplies}}</p>
    <p>준비물 : {{meet.preparation_materials}}</p>
    <p>프로세스 : {{meet.process}}</p>
    
    <p>링크 : {{meet.out_links}}</p>

    <p>활동 : {{meet.regular_activity}}</p>
    <p>시간 : {{meet.schedule}}</p>
    <p>장소 : {{meet.address}}</p>

    <p>연령대 : {{meet.mbr_age}}</p>
    <p>인원 : {{meet.mbr_num}}</p>
    <p>멤버 모집 : {{meet.mbr_content}}</p>
    
    <p>선발 : {{meet.pick_method}}</p>

    {% if surveys %}
        <ul>
        {% for survey in surveys %}
            <li>
                <p>{{ survey.su_survey }}</p>
                <!-- <p>{{ survey.su_answer }}</p> -->
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No surveys available.</p>
    {% endif %}
        
    <p>챌리지 : {{meet.re_challenge}}</p>

    <p>참가비 : {{meet.re_payment}}</p>

    <!-- <p>{{meet.end_of_positing}}</p> -->
    
    <!-- <p>{{meet.created_at}}</p> -->
    <!-- <p>{{meet.modified_at}}</p> -->
    <a href="/planpeak/post/global_search/">목록</a>
    <a href="/planpeak/post/{{meet.pk}}/content_delete">삭제</a>

</body>
</html>